.jumbotron {
  background-color: #11da43;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10x 10px 0 10px;
  background-color: #11da43;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding: 0px 10px 0px 0px; }

.tab-content {
  padding-top: 10px; }
